<div class="site-title">
  <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
</div>

<nav class="main-nav">
  {% for item in site.data.navigation.main %}
    <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
  {% endfor %}
</nav>

<div class="search-box">
  <input type="text" placeholder="Search">
  <button type="submit">Q</button>
</div>

<div class="follow-section">
  <span>FOLLOW:</span>
  <a href="https://twitter.com/{{ site.social_links.twitter }}">T</a>
  <a href="https://facebook.com/{{ site.social_links.facebook }}">F</a>
  <a href="https://github.com/{{ site.social_links.github }}">G</a>
  <a href="{{ '/feed.xml' | relative_url }}">R</a>
</div> 